<div class="container mx-auto bg-body shadow-lg shadow-theme/70 mt-24 mb-24 py-6 px-6 md:h-auto">
  <h2 id="contact" class="secondary-title"></h2>
  <p class="section-paragraph">Certificates</p>
  <div class="flex justify-content-evenly align-top mb-3">

    <div style='background-color:rgba(0, 0, 0, 0)'>
      <div class="container max-w-7xl mx-auto px-4" style="cursor: auto;">
        <div class="flex flex-wrap">
          <div class="w-full md:w-6/12 lg:w-1/5 lg:mb-0 mb-12 px-4">
            <div class="px-4">
              <a class="focus:text-secondary" href="/assets/cert/MicrosoftFundaments.pdf">
                <img alt="MS Software Development Fundamentals" src="../assets/cert/MSFundamentals.png" class="rounded-xl shadow-lg max-w-full h-auto align-middle border-none undefined">
              </a>
            </div>
          </div>
          <div class="w-full md:w-6/12 lg:w-1/5 lg:mb-0 mb-12 px-4">
            <div class="px-4" >
              <a class="focus:text-secondary" href="/assets/cert/CszarpCert.pdf">
                <img alt="Course Software Development Fundamentals (C#)" src="../assets/cert/MS_C.png" class="rounded-xl shadow-lg max-w-full h-auto align-middle border-none undefined">
              </a>
            </div>
          </div>
          <div class="w-full md:w-6/12 lg:w-1/5 lg:mb-0 mb-12 px-4">
            <div class="px-4">
              <a class="focus:text-secondary" href="/assets/cert/IPMA_D.pdf">
                <img alt="IPMA D certificate" src="../assets/cert/IPMA_D.png" class="rounded-xl shadow-lg max-w-full h-auto align-middle border-none undefined">
              </a>
            </div>
          </div>
          <div class="w-full md:w-6/12 lg:w-1/5 lg:mb-0 mb-12 px-4">
            <div class="px-4">
              <a class="focus:text-secondary" href="/assets/cert/Cert_IPMA_study_ENG.pdf">
                <img alt="Post graduate project management with IPMA Certificate" src="../assets/cert/IPMA.png" class="rounded-xl shadow-lg max-w-full h-auto align-middle border-none undefined">
              </a>
            </div>
          </div>
          <div class="w-full md:w-6/12 lg:w-1/5 lg:mb-0 mb-12 px-4">
            <div class="px-4">
              <a class="focus:text-secondary" href="/assets/cert/JAVAFundamental.pdf">
                <img alt="Java Fundamentals" src="../assets/cert/JAVA.png" class="rounded-xl shadow-lg max-w-full h-auto align-middle border-none undefined">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



