<div class="container mx-auto bg-stone-400 mt-24 px-6">
  <h2 id="projects" class="secondary-title"></h2>
  <p class="section-paragraph">Details about my projects</p>
  <!--  first accordion-->
  <section class="mt-24">
  <p class="section-paragraph">Project which i manage as project owner or ones i participate in</p>
<div class="accordion" id="accordionFirstExample5">
  <div class="accordion-item bg-stone-400 border border-stone-400">
    <h2 class="accordion-header mb-0" id="headingFirstOne5">
      <button
        class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-stone-400
          border-0
          rounded-none
          transition
          focus:outline-none
        "
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFirstOne5"
        aria-expanded="true"
        aria-controls="collapseFirstOne5"
      >
        Accordion Item #1
      </button>
    </h2>
    <div
      id="collapseFirstOne5"
      class="accordion-collapse collapse"
      aria-labelledby="headingFirstOne5"
    >
      <div class="accordion-body py-4 px-5">
        <strong>This is the first item's accordion body.</strong> It is shown by default,
        until the collapse plugin adds the appropriate classes that we use to style each
        element. These classes control the overall appearance, as well as the showing and
        hiding via CSS transitions. You can modify any of this with custom CSS or overriding
        our default variables. It's also worth noting that just about any HTML can go within
        the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingFirstTwo5">
      <button
        class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-white
          border-0
          rounded-none
          transition
          focus:outline-none
        "
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFirstTwo5"
        aria-expanded="false"
        aria-controls="collapseFirstTwo5"
      >
        Accordion Item #2
      </button>
    </h2>
    <div
      id="collapseFirstTwo5"
      class="accordion-collapse collapse"
      aria-labelledby="headingFirstTwo5"
    >
      <div class="accordion-body py-4 px-5">
        <strong>This is the second item's accordion body.</strong> It is hidden by default,
        until the collapse plugin adds the appropriate classes that we use to style each
        element. These classes control the overall appearance, as well as the showing and
        hiding via CSS transitions. You can modify any of this with custom CSS or overriding
        our default variables. It's also worth noting that just about any HTML can go within
        the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingFirstThree5">
      <button
        class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-white
          border-0
          rounded-none
          transition
          focus:outline-none
        "
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFirstThree5"
        aria-expanded="false"
        aria-controls="collapseFirstThree5"
      >
        Accordion Item #3
      </button>
    </h2>
    <div
      id="collapseFirstThree5"
      class="accordion-collapse collapse"
      aria-labelledby="headingThree5"
    >
      <div class="accordion-body py-4 px-5">
        <strong>This is the third item's accordion body.</strong> It is hidden by default,
        until the collapse plugin adds the appropriate classes that we use to style each
        element. These classes control the overall appearance, as well as the showing and
        hiding via CSS transitions. You can modify any of this with custom CSS or overriding
        our default variables. It's also worth noting that just about any HTML can go within
        the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
  </section>
<!--  first accordion-->
<!--  second accordion -->
  <section class="mt-24">
  <p class="section-paragraph mt-24">Project as full stack java developer</p>
  <div class="accordion" id="accordionSecondExample5">
    <div class="accordion-item bg-stone-400 border border-stone-400">
      <h2 class="accordion-header mb-0" id="headingSecondOne5">
        <button
          class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-stone-400
          border-0
          rounded-none
          transition
          focus:outline-none
        "
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSecondOne5"
          aria-expanded="true"
          aria-controls="collapseSecondOne5"
        >
          Accordion Item #1
        </button>
      </h2>
      <div
        id="collapseSecondOne5"
        class="accordion-collapse collapse"
        aria-labelledby="headingSecondOne5"
      >
        <div class="accordion-body py-4 px-5">
          <strong>This is the first item's accordion body.</strong> It is shown by default,
          until the collapse plugin adds the appropriate classes that we use to style each
          element. These classes control the overall appearance, as well as the showing and
          hiding via CSS transitions. You can modify any of this with custom CSS or overriding
          our default variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-white border border-gray-200">
      <h2 class="accordion-header mb-0" id="headingSecondTwo5">
        <button
          class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-white
          border-0
          rounded-none
          transition
          focus:outline-none
        "
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSecondTwo5"
          aria-expanded="false"
          aria-controls="collapseSecondTwo5"
        >
          Accordion Item #2
        </button>
      </h2>
      <div
        id="collapseSecondTwo5"
        class="accordion-collapse collapse"
        aria-labelledby="headingSecondTwo5"
      >
        <div class="accordion-body py-4 px-5">
          <strong>This is the second item's accordion body.</strong> It is hidden by default,
          until the collapse plugin adds the appropriate classes that we use to style each
          element. These classes control the overall appearance, as well as the showing and
          hiding via CSS transitions. You can modify any of this with custom CSS or overriding
          our default variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item bg-white border border-gray-200">
      <h2 class="accordion-header mb-0" id="headingSecondThree5">
        <button
          class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-white
          border-0
          rounded-none
          transition
          focus:outline-none
        "
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSecondThree5"
          aria-expanded="false"
          aria-controls="collapseSecondThree5"
        >
          Accordion Item #3
        </button>
      </h2>
      <div
        id="collapseSecondThree5"
        class="accordion-collapse collapse"
        aria-labelledby="headingSecondThree5"
      >
        <div class="accordion-body py-4 px-5">
          <strong>This is the third item's accordion body.</strong> It is hidden by default,
          until the collapse plugin adds the appropriate classes that we use to style each
          element. These classes control the overall appearance, as well as the showing and
          hiding via CSS transitions. You can modify any of this with custom CSS or overriding
          our default variables. It's also worth noting that just about any HTML can go within
          the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>
  </section>
<!--  second accordion- -->
<!--  third accordion- -->
  <section class="mt-24">
    <p class="section-paragraph mt-24">VBA excel projects</p>
    <div class="accordion" id="accordionExample5">
      <div class="accordion-item bg-stone-400 border border-stone-400">
        <h2 class="accordion-header mb-0" id="headingOne5">
          <button
            class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-stone-400
          border-0
          rounded-none
          transition
          focus:outline-none
        "
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne5"
            aria-expanded="true"
            aria-controls="collapseOne5"
          >
            Accordion Item #1
          </button>
        </h2>
        <div
          id="collapseOne5"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>This is the first item's accordion body.</strong> It is shown by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our default variables. It's also worth noting that just about any HTML can go within
            the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingTwo5">
          <button
            class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-white
          border-0
          rounded-none
          transition
          focus:outline-none
        "
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo5"
            aria-expanded="false"
            aria-controls="collapseTwo5"
          >
            Accordion Item #2
          </button>
        </h2>
        <div
          id="collapseTwo5"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>This is the second item's accordion body.</strong> It is hidden by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our default variables. It's also worth noting that just about any HTML can go within
            the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingThree5">
          <button
            class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-white
          border-0
          rounded-none
          transition
          focus:outline-none
        "
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree5"
            aria-expanded="false"
            aria-controls="collapseThree5"
          >
            Accordion Item #3
          </button>
        </h2>
        <div
          id="collapseThree5"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>This is the third item's accordion body.</strong> It is hidden by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our default variables. It's also worth noting that just about any HTML can go within
            the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  third accordion- -->
  <!--  fourth accordion- -->
  <section class="mt-24">
    <p class="section-paragraph mt-24">Wordpress www sites</p>
    <div class="accordion" id="accordionFourthExample5">
      <div class="accordion-item bg-stone-400 border border-stone-400">
        <h2 class="accordion-header mb-0" id="headingFourthOne5">
          <button
            class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-stone-400
          border-0
          rounded-none
          transition
          focus:outline-none
        "
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFourthOne5"
            aria-expanded="true"
            aria-controls="collapseFourthOne5"
          >
            Accordion Item #1
          </button>
        </h2>
        <div
          id="collapseFourthOne5"
          class="accordion-collapse collapse"
          aria-labelledby="headingFourthOne5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>This is the first item's accordion body.</strong> It is shown by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our default variables. It's also worth noting that just about any HTML can go within
            the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingFourthTwo5">
          <button
            class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-white
          border-0
          rounded-none
          transition
          focus:outline-none
        "
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFourthTwo5"
            aria-expanded="false"
            aria-controls="collapseFourthTwo5"
          >
            Accordion Item #2
          </button>
        </h2>
        <div
          id="collapseFourthTwo5"
          class="accordion-collapse collapse"
          aria-labelledby="headingFourthTwo5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>This is the second item's accordion body.</strong> It is hidden by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our default variables. It's also worth noting that just about any HTML can go within
            the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-white border border-gray-200">
        <h2 class="accordion-header mb-0" id="headingFourthThree5">
          <button
            class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-gray-800 text-left
          bg-white
          border-0
          rounded-none
          transition
          focus:outline-none
        "
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFourthThree5"
            aria-expanded="false"
            aria-controls="collapseFourthThree5"
          >
            Accordion Item #3
          </button>
        </h2>
        <div
          id="collapseFourthThree5"
          class="accordion-collapse collapse"
          aria-labelledby="headingFourthThree5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>This is the third item's accordion body.</strong> It is hidden by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our default variables. It's also worth noting that just about any HTML can go within
            the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  fourth accordion- -->
</div>
