<div class="container mx-auto bg-body mt-24 px-6">
  <h2 id="projects" class="secondary-title">Projects</h2>
  <!--  first accordion-->
  <section class="mt-12">
    <p class="mb-2 section-paragraph">Project management</p>
    <div class="accordion shadow-lg" id="accordionFirstExample5">
      <div class="accordion-item bg-body shadow-lg">

        <h2 class="accordion-header mb-0" id="headingFirstOne5">
          <button
            class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-theme
          text-left
          bg-body
          border-0
          rounded-none
          transition
          hover:bg-slate-200
          focus:outline-none
        "
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFirstOne5"
            aria-expanded="true"
            aria-controls="collapseFirstOne5"
          >
        <span class="mr-4">
          <img class="w-24" src="../assets/images/city-pic.jpg">
        </span>
            <span>Introducing new product, municipal factoring to factoring product portfolio of Deutsche Bank Poland</span>
          </button>
        </h2>
        <div
          id="collapseFirstOne5"
          class="accordion-collapse collapse"
          aria-labelledby="headingFirstOne5"
        >
          <div class="accordion-body text-theme py-4 px-5">
            <strong>I was part of project team which was responsible for creating new product in Factoring department
              portfolio.</strong> <br>My role was to create and update excel sheet to calculate rating
            for all levels of local governments in Poland. Data was imported from Ministry of Finance which provided
            public files in csv format quarterly with financial data. Rating was calculated based on financial
            indicators and presented
            for selected time period. This calculation allowed to make decision about level of financing for selected
            municipal. I was also preparing documentation for this product.
            <ul>
              <li>My tasks :</li>
              <li>- preparing documentation</li>
              <li>- preparing rating sheet for all levels of local governments</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item bg-body shadow-lg">
        <h2 class="accordion-header mb-0" id="headingFirstTwo5">
      <span>

      </span>
          <button
            class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-theme
          text-left
          bg-body
          border-0
          rounded-none
          transition
          hover:bg-slate-200
          focus:outline-none
        "
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFirstTwo5"
            aria-expanded="true"
            aria-controls="collapseFirstTwo5"
          >
        <span class="mr-4">
          <img class="w-24" src="../assets/images/automotive-pic.jpg">
        </span>
            <span>Transfering automotive clients from bank to factoring company</span>
          </button>
        </h2>
        <div
          id="collapseFirstTwo5"
          class="accordion-collapse collapse"
          aria-labelledby="headingFirstTwo5"
        >
          <div class="accordion-body text-theme py-4 px-5">
            <strong>I was leader of project team which was responsible for transferring all automotive clients from bank
              department to factoring subsidiary of bank.</strong> <br> Those clients had in bank special system to
            maintain daily tasks and owned fleet.
            Systems had to be marge together without brake in work, all data then was to be transferred to another
            system.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-body shadow-lg">
        <h2 class="accordion-header mb-0" id="headingFirstThree5">
          <button
            class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-theme
          text-left
          bg-body
          border-0
          rounded-none
          transition
          hover:bg-slate-200
          focus:outline-none
        "
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFirstThree5"
            aria-expanded="true"
            aria-controls="collapseFirstThree5"
          >
        <span class="mr-4">
          <img class="w-24" src="../assets/images/working_on_sheets.jpg">
        </span>
            <span>Introducing new excel reporting tool build by contractor.</span>
          </button>
        </h2>
        <div
          id="collapseFirstThree5"
          class="accordion-collapse collapse"
          aria-labelledby="headingFirstThree5"
        >
          <div class="accordion-body text-theme  py-4 px-5">
            <strong>Build new report tool for sales deportment to track daily tasks.</strong><br>New report was build as
            excel sheet prepared for daily use and to present data for managing board. Report allows filtering, data
            validation and presentation.
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  first accordion-->
  <!--  second accordion -->
  <section class="mt-24">
    <p class="section-paragraph mt-24">Project as full stack java developer</p>
    <div class="accordion shadow-lg" id="accordionSecondExample5">
      <div class="accordion-item bg-body shadow-lg">
        <h2 class="accordion-header mb-0" id="headingSecondOne5">
          <button
            class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-theme
          text-left
          bg-body
          border-0
          rounded-none
          transition
          hover:bg-slate-200
          focus:outline-none"

            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSecondOne5"
            aria-expanded="true"
            aria-controls="collapseSecondOne5"
          >
            Demo application to generate password
          </button>
        </h2>
        <div
          id="collapseSecondOne5"
          class="accordion-collapse collapse"
          aria-labelledby="headingSecondOne5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>Application to generate password with selected leters, digits, symbols, words or combination of all
              cases.</strong>
            In this application I am using Java REST endpoint as backend to prepare JSON data with passwords, Angular as
            frontend to present data.
            <ul>
              <li>Java 17</li>
              <li>Project Lombok</li>
              <li>Spring boot</li>
              <li>Angular 13</li>
              <li>Bootstrap/Angular material</li>
            </ul>
            Application still in progress.<br>
            <button type="button"
                    class="inline-block mt-4 px-4 py-2 border-2 border-nav text-selected-text font-medium text-xs leading-tight uppercase rounded-full
                  hover:bg-theme
                  hover:bg-opacity-5
                  hover:border-secondary
                  focus:outline-none
                  focus:ring-0

                  transition duration-150 ease-in-out">
              <a class="focus:text-secondary" href="https://github.com/Bodziers/passwordApp"> Visit password app
                repository.</a>
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item bg-body shadow-lg">
        <h2 class="accordion-header mb-0" id="headingSecondTwo5">
          <button
            class="
          accordion-button
          collapsed
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-theme
          text-left
          bg-body
          border-0
          rounded-none
          transition
          hover:bg-slate-200
          focus:outline-none"

            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSecondTwo5"
            aria-expanded="true"
            aria-controls="collapseSecondTwo5"
          >
            This Finmatik Bogdan Pyrc site as my portfolio
          </button>
        </h2>
        <div
          id="collapseSecondTwo5"
          class="accordion-collapse collapse"
          aria-labelledby="headingSecondTwo5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>My portfolio site and angular app.</strong>
            One page site in angular with five components on which I am presenting my experience and projeccts
            <ul>
              <li>Angular 13</li>
              <li>Tailwind CSS</li>
            </ul>

            <button type="button"
                    class="inline-block mt-4 px-4 py-2 border-2 border-nav text-selected-text font-medium text-xs leading-tight uppercase rounded-full
                  hover:bg-theme
                  hover:bg-opacity-5
                  hover:border-secondary
                  focus:outline-none
                  focus:ring-0

                  transition duration-150 ease-in-out">
              <a class="focus:text-secondary" href="#">My page</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  second accordion- -->
  <!--  third accordion- -->
  <section class="mt-24">
    <p class="section-paragraph mt-24">VBA excel projects</p>
    <div class="accordion shadow-lg" id="accordionExample5">
      <div class="accordion-item bg-body shadow-lg">
        <h2 class="accordion-header mb-0" id="headingOne5">
          <button
            class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-theme
            text-left
            bg-body
            border-0
            rounded-none
            transition
            hover:bg-slate-200
            focus:outline-none"

            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne5"
            aria-expanded="true"
            aria-controls="collapseOne5"
          >
            Accordion Item #1
          </button>
        </h2>
        <div
          id="collapseOne5"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>This is the first item's accordion body.</strong> It is shown by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our default variables. It's also worth noting that just about any HTML can go within
            the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-body shadow-lg">
        <h2 class="accordion-header mb-0" id="headingTwo5">
          <button
            class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-theme
            text-left
            bg-body
            border-0
            rounded-none
            transition
            hover:bg-slate-200
            focus:outline-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo5"
            aria-expanded="false"
            aria-controls="collapseTwo5"
          >
            Accordion Item #2
          </button>
        </h2>
        <div
          id="collapseTwo5"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>This is the second item's accordion body.</strong> It is hidden by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our default variables. It's also worth noting that just about any HTML can go within
            the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-body shadow-lg">
        <h2 class="accordion-header mb-0" id="headingThree5">
          <button
            class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-theme
            text-left
            bg-body
            border-0
            rounded-none
            transition
            hover:bg-slate-200
            focus:outline-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree5"
            aria-expanded="false"
            aria-controls="collapseThree5"
          >
            Accordion Item #3
          </button>
        </h2>
        <div
          id="collapseThree5"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>This is the third item's accordion body.</strong> It is hidden by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our default variables. It's also worth noting that just about any HTML can go within
            the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  third accordion- -->
  <!--  fourth accordion- -->
  <section class="mt-24">
    <p class="section-paragraph mt-24">Wordpress www sites</p>
    <div class="accordion shadow-lg" id="accordionFourthOne5">
      <div class="accordion-item bg-body shadow-lg">
        <h2 class="accordion-header mb-0" id="headingFourthOne5">
          <button
            class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-theme
            text-left
            bg-body
            border-0
            rounded-none
            transition
            hover:bg-slate-200
            focus:outline-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFourthOne5"
            aria-expanded="true"
            aria-controls="collapseFourthOne5"
          >
            <span class="mr-4">
              <img class="w-24" src="../assets/images/multiadvisor.png">
            </span>
            <span>Multiadvisor.pl</span>

          </button>
        </h2>
        <div
          id="collapseFourthOne5"
          class="accordion-collapse collapse"
          aria-labelledby="headingFourthOne5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>Site for finance broker.</strong>
            One page site build in Wordpress. Project was build on clients hosting server and included installing
            wordpress, plugins and building site. All elements where build on elements provided by <a
            href="https://siteorigin.com/">SiteOrigin</a> plugin.

            <ul>
              <li>Wordpress</li>
              <li>SiteOrigin page builder</li>
            </ul>

            <button type="button"
                    class="inline-block mt-4 px-4 py-2 border-2 border-nav text-selected-text font-medium text-xs leading-tight uppercase rounded-full
                  hover:bg-theme
                  hover:bg-opacity-5
                  hover:border-secondary
                  focus:outline-none
                  focus:ring-0

                  transition duration-150 ease-in-out">
              <a class="focus:text-secondary" href="http://multiadvisor.pl/">Multiadvisor.pl</a>
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item bg-body shadow-lg">
        <h2 class="accordion-header mb-0" id="headingFourthTwo5">
          <button
            class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-theme
            text-left
            bg-body
            border-0
            rounded-none
            transition
            hover:bg-slate-200
            focus:outline-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFourthTwo5"
            aria-expanded="false"
            aria-controls="collapseFourthTwo5"
          >
            <span class="mr-4">
              <img class="w-24" src="../assets/images/hydrocat.png">
            </span>
            <span>Hydrocat.eu</span>
          </button>
        </h2>
        <div
          id="collapseFourthTwo5"
          class="accordion-collapse collapse"
          aria-labelledby="headingFourthTwo5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>Site for offshore survey services .</strong>
            One page site build in Wordpress. Project was build on clients hosting server and included logo project for
            company, color palette, installing wordpress, plugins and building site. All elements where build on
            elements provided by <a href="https://siteorigin.com/" class="underline decoration-transparent hover:decoration-inherit hover:text-secondary transition duration-300 ease-in-out">SiteOrigin</a> plugin.
            <ul>
              <li>Wordpress</li>
              <li>SiteOrigin page builder</li>
            </ul>


            <button type="button"
                    class="inline-block mt-4 px-4 py-2 border-2 border-nav text-selected-text font-medium text-xs leading-tight uppercase rounded-full
                  hover:bg-theme
                  hover:bg-opacity-5
                  hover:border-secondary
                  focus:outline-none
                  focus:ring-0

                  transition duration-150 ease-in-out">
              <a class="focus:text-secondary" href="http://hydrocat.eu/">Hydrocat.eu</a>
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item bg-body shadow-lg">
        <h2 class="accordion-header mb-0" id="headingFourthThree5">
          <button
            class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-theme
            text-left
            bg-body
            border-0
            rounded-none
            transition
            hover:bg-slate-200
            focus:outline-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFourthThree5"
            aria-expanded="false"
            aria-controls="collapseFourthThree5"
          >
            <span class="mr-4">
              <img class="w-24" src="../assets/images/finittech_site.png">
            </span>
            <span>Finittech.pl</span>
          </button>
        </h2>
        <div
          id="collapseFourthThree5"
          class="accordion-collapse collapse"
          aria-labelledby="headingFourthThree5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>Site for loans and factoring company.</strong>
            One page site build in Wordpress. Project included purchase of domain, hosting server space, logo project
            for company, color palette, installing wordpress, plugins and building site. This site was build with use of
            OnePress Theme.
            <ul>
              <li>Wordpress</li>
              <li>OnePress theme</li>
            </ul>

            <button type="button"
                    class="inline-block mt-4 px-4 py-2 border-2 border-nav text-selected-text font-medium text-xs leading-tight uppercase rounded-full
                  hover:bg-theme
                  hover:bg-opacity-5
                  hover:border-secondary
                  focus:outline-none
                  focus:ring-0

                  transition duration-150 ease-in-out">
              <a class="focus:text-secondary" href="http://hydrocat.eu/">Finittech.pl</a>
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item bg-body shadow-lg">
        <h2 class="accordion-header mb-0" id="headingFourthFour5">
          <button
            class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-theme
            text-left
            bg-body
            border-0
            rounded-none
            transition
            hover:bg-slate-200
            focus:outline-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFourthFour5"
            aria-expanded="false"
            aria-controls="collapseFourthFour5"
          >
            <span class="mr-4">
              <img class="w-24" src="../assets/images/orior.png">
            </span>
            <span>Orior.pl</span>
          </button>
        </h2>
        <div
          id="collapseFourthFour5"
          class="accordion-collapse collapse"
          aria-labelledby="headingFourthFour5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>Site for renewal energy company.</strong>
            One page site build in Wordpress. Project included purchase of domain, hosting server space, logo project
            for company, color palette, installing wordpress, plugins and building site. One page site build in
            Wordpress.
            Project was build on clients hosting server and included logo project for company, color palette, installing
            wordpress, plugins and building site.
            All elements where build on elements provided by <a href="https://siteorigin.com/">SiteOrigin</a> plugin.
            <ul>
              <li>Wordpress</li>
              <li>SiteOrigin plugin</li>
            </ul>

            <button type="button"
                    class="inline-block mt-4 px-4 py-2 border-2 border-nav text-selected-text font-medium text-xs leading-tight uppercase rounded-full
                  hover:bg-theme
                  hover:bg-opacity-5
                  hover:border-secondary
                  focus:outline-none
                  focus:ring-0

                  transition duration-150 ease-in-out">
              <a class="focus:text-secondary" href="http://hydrocat.eu/">Orior.pl</a>
            </button>
          </div>
        </div>
      </div>
      <div class="accordion-item bg-body shadow-lg">
        <h2 class="accordion-header mb-0" id="headingFourthFive5">
          <button
            class="accordion-button
            collapsed
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-theme
            text-left
            bg-body
            border-0
            rounded-none
            transition
            hover:bg-slate-200
            focus:outline-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFourthFive5"
            aria-expanded="false"
            aria-controls="collapseFourthFive5"
          >
            <span class="mr-4">
              <img class="w-24" src="../assets/images/klimax.png">
            </span>
            <span>Klimax.pl</span>
          </button>
        </h2>
        <div
          id="collapseFourthFive5"
          class="accordion-collapse collapse"
          aria-labelledby="headingFourthFive5"
        >
          <div class="accordion-body py-4 px-5">
            <strong>Site for air-condition company.</strong>
            One page site build in Wordpress. Project included purchase of domain, hosting server space, logo project
            for company, color palette, installing wordpress, plugins and building site. One page site build in
            Wordpress.
            Project was build on clients hosting server and included logo project for company, color palette, installing
            wordpress, plugins and building site.
            All elements where build on elements provided by <a href="https://siteorigin.com/">SiteOrigin</a> plugin.
            <ul>
              <li>Wordpress</li>
              <li>SiteOrigin plugin</li>
            </ul>

            <button type="button"
                    class="inline-block mt-4 px-4 py-2 border-2 border-nav text-selected-text font-medium text-xs leading-tight uppercase rounded-full
                  hover:bg-theme
                  hover:bg-opacity-5
                  hover:border-secondary
                  focus:outline-none
                  focus:ring-0

                  transition duration-150 ease-in-out">
              <a class="focus:text-secondary" href="http://hydrocat.eu/">Klimax.pl</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  fourth accordion- -->
</div>
