<div class="container h-auto mx-auto bg-body shadow-lg shadow-theme/70 mt-24 mb-24 py-6 px-6">
  <h2 id="contact" class="secondary-title"></h2>
  <p class="section-paragraph">Contact me</p>
  <div class="flex">
      <div class="ml-6 justify-start">
         <span>
            <iframe title="" class="container map" src="https://www.openstreetmap.org/export/embed.html?bbox=15.935668945312502%2C53.36202615413913%2C21.318969726562504%2C55.31664304437719&amp;layer=mapnik&amp;marker=54.351754357424696%2C18.6273193359375"
                    style="border: 1px solid black">
            </iframe>
         </span>
        <span>
        <small>
          <a href="https://www.openstreetmap.org/?mlat=54.3518&amp;mlon=18.6273#map=9/54.3510/18.6273">Wyświetl większą mapę</a>
        </small>
          </span>
      </div>
      <div class="container">
        <div class="flex justify-center">
          <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm">
            <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">My contact details</h5>
            <p class="text-gray-700 text-base mb-4">
              I live in Poland, in city Gdańsk near Baltic see.<br/>
              My phone number + 48 60 44 77 262<br/>
              My email : pyrc.bogdan@gmail.com
            </p>
            <button type="button"
             class=" px-6 py-2.5 bg-theme text-white font-medium
             text-xs leading-tight uppercase rounded shadow-md hover:bg-nav
             hover:shadow-lg focus:bg-secondary focus:shadow-lg
             focus:outline-none focus:ring-0 active:bg-secondary active:shadow-lg
             transition duration-150 ease-in-out">
              <a href="mailto:pyrc.bogdan@gmail.com">Send email</a>
            </button>
          </div>
        </div>
      </div>
  </div>
</div>
