<div id="finmatik" class="container absolute mx-auto max-w-full  scroll-smooth">

  <section class="w-full h-5/6 mt-20 md:mt-0">
    <img src="/assets/images/baner-frontback.png" class="object-cover w-full h-1/3" alt="Image alt text" />
  </section>




<!--  <div id="carouselExampleCaptions" class="carousel carousel-fade carousel-dark slide relative z-0 shadow-lg shadow-theme/70" data-bs-ride="carousel">-->
<!--    <div  class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">-->
<!--      <button-->
<!--        type="button"-->
<!--        data-bs-target="#carouselExampleCaptions"-->
<!--        data-bs-slide-to="0"-->
<!--        class="active"-->
<!--        aria-current="true"-->
<!--        aria-label="Slide 1"-->
<!--      ></button>-->
<!--      <button-->
<!--        type="button"-->
<!--        data-bs-target="#carouselExampleCaptions"-->
<!--        data-bs-slide-to="1"-->
<!--        aria-label="Slide 2"-->
<!--      ></button>-->
<!--      <button-->
<!--        type="button"-->
<!--        data-bs-target="#carouselExampleCaptions"-->
<!--        data-bs-slide-to="2"-->
<!--        aria-label="Slide 3"-->
<!--      ></button>-->
<!--    </div>-->
<!--    <div class="carousel-inner relative w-full overflow-hidden">-->
<!--      <div class="carousel-item active relative float-left w-full">-->
<!--        <img-->
<!--          src="../assets/images/finger_hero.jpg"-->
<!--          class="block w-full blur-sm"-->
<!--          alt="..."-->
<!--        />-->
<!--        <div class="carousel-caption hidden md:block absolute text-center mb-56">-->
<!--          <h5 class="text-3xl text-selected-text font-bold">Right to the point</h5>-->
<!--          <p>I am developing solutions to pointed problems.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="carousel-item relative float-left w-full">-->
<!--        <img-->
<!--          src="../assets/images/hand_hero.jpg"-->
<!--          class="block w-full blur-sm"-->
<!--          alt="..."-->
<!--        />-->
<!--        <div class="carousel-caption hidden md:block absolute text-center mb-56">-->
<!--          <h5 class="text-3xl text-selected-text font-bold">I am moving toward the goals</h5>-->
<!--          <p>My services will help you achieve your goals.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="carousel-item relative float-left w-full">-->
<!--        <img-->
<!--          src="../assets/images/passion_hero.jpg"-->
<!--          class="block w-full blur-sm"-->
<!--          alt="..."-->
<!--        />-->
<!--        <div class="carousel-caption hidden md:block absolute text-center mb-56">-->
<!--          <h5 class="text-3xl text-selected-text font-bold">Creating new solutions is my passion</h5>-->
<!--          <p>Together we build the future.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <button-->
<!--      class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"-->
<!--      type="button"-->
<!--      data-bs-target="#carouselExampleCaptions"-->
<!--      data-bs-slide="prev"-->
<!--    >-->
<!--      <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>-->
<!--      <span class="visually-hidden">Previous</span>-->
<!--    </button>-->
<!--    <button-->
<!--      class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"-->
<!--      type="button"-->
<!--      data-bs-target="#carouselExampleCaptions"-->
<!--      data-bs-slide="next"-->
<!--    >-->
<!--      <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>-->
<!--      <span class="visually-hidden">Next</span>-->
<!--    </button>-->
<!--  </div>-->
  <app-header></app-header>
  <app-projects></app-projects>
  <app-skills></app-skills>
  <app-experience></app-experience>
  <app-contact></app-contact>
  <router-outlet></router-outlet>
</div>
